@font-face {
    font-family: 'DayPosterBlack';
    src: url('DayPosterBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.left-card {
    position: relative;
}

#bg-img {
    height: 100vh;
    width: 50vw;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 50vw;
    position: absolute;
    top: 400px;
    background-color: #262520;
    opacity: .75;
}

#logo-img {
    height: 100px;
}